/* Base Elements */
html {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

}

body {
    min-height: 100vh;
}

/* Layout */
.main-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
    padding: 20px;
}

@media only screen and (max-width:768px) {
    .content-wrapper {
        padding: 0;
    }
}